#experience{
    .container{
        margin-top: 1%;
        .buttons{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            @mixin magic-border($width, $color, $duration, $direction){
                position:relative;
                  &:before{
                    content:'';
                    position:absolute;
                    width:calc(100% + #{$width * 2});
                    height:calc(100% + #{$width * 2});
                    top:calc(#{$width}/-1);
                    left:calc(#{$width}/-1);
                    background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
                    background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
                    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
                    background-repeat:no-repeat, no-repeat;
                    transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
                    transform:scaleX(0) rotate(180deg * $direction);
                    transition-delay:$duration*2, $duration, 0s;
                  }
                  &:hover{
                    &:before{
                      background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
                      background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
                      transform:scaleX(1) rotate(180deg * $direction);
                      transition-delay:0s, $duration, $duration*2;
                    }
                  }
              }
                  a{
                    text-decoration:none;
                    padding:10px;
                    background:$card;
                    text-align:center;
                    margin-bottom:1rem;
                    font-size: $h2-font-size;
                    flex-grow:1;
                    cursor:pointer;
                    color: $font-color;
              }
              a:not(.active) {
                @include magic-border(2px,$font-color, 0.3s, 0);
                // font-family:'Oswald';
      
                &:nth-of-type(2){
                  @include magic-border(2px, $font-color, 0.2s, 1);
                }
                &:nth-of-type(3){
                    @include magic-border(2px, $font-color, 0.2s, 0);
                  }
              }
              .active{
                background-color: $font-color;
                color: $font-color-2;
              }
                    //   @mixin magic-border-mask($width, $duration, $background, $direction){
            //     position:relative;
            //       &:before{
            //         content:'';
            //         position:absolute;
            //         width:calc(100% + #{$width * 2});
            //         height:calc(100% + #{$width * 2});
            //         top:calc(#{$width}/-1);
            //         left:calc(#{$width}/-1);
            //         mask:linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
            //         mask-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
            //         mask-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
            //         mask-repeat:no-repeat, no-repeat;
            //         transition:transform $duration ease-in-out, mask-position $duration ease-in-out, mask-size $duration ease-in-out;
            //         transform:scaleX(0) rotate(180deg * $direction);
            //         transition-delay:$duration*2, $duration, 0s;
            //         background:$background;
            //       }
            //       &:hover{
            //         &:before{
            //           mask-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
            //           mask-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
            //           transform:scaleX(1) rotate(180deg * $direction);
            //           transition-delay:0s, $duration, $duration*2;
            //         }
            //       }
            //   }
    
        }
        .content-2 {
            // background-color: red;
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1rem;
            > *{
              text-align: center;
            }
        }
    }
}

@media screen and (max-width:1024px) {
  #experience{
   .container{
    .buttons {
      a{
        font-size: $p-font-size;
      }
    }
   }
  }
}

@media screen and (max-width:650px) {
  #experience{
    .container{
     .buttons {
       a{
         font-size: $p-responsive-font-size;
       }
     }
    }
   }
}