nav {
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: $font-color;

    a{
        background:transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: $font-color;
        &:hover{
            background-color: $button-1;
            color: $font-color-2;
        }
    }
    .active{
        background-color: $button-1;
        color: $font-color-2;
    }
}
