#home {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .sub-container{
            width: 60%;
            height: 99vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            div:first-child{
                p{
                    text-align: center;
                    font-size: $p-font-size;
                }
                h1{
                    text-align: center;
                    font-size: $h1-font-size;
                    color: $font-color-2;
                }
                h3{
                    text-align: center;
                    font-size: $h3-font-size;
                }
            }
            div:nth-child(2){
                display: flex;
                justify-content:center;
                a{
                    margin-right: 3%;
                    margin-left: 3%;
                    color: $font-color;
                    padding: 10px 14px;
                    font-size: 18px;
                    border-radius: 5px;
                    border: 1px solid $button-2;
                }
                a:nth-child(2){
                    color: $font-color-2;
                    background-color: $button-1;
                    border: 1px solid $button-1;
                }
                a:nth-child(1):hover{
                    color: $font-color-2;
                    background-color: $button-2;
                }
                a:nth-child(2):hover{
                    background-color: $button-2;
                    color: $font-color-2;
                    cursor: pointer;
                    border: 1px solid $button-2;
                }
                svg{
                    font-size: $h3-font-size;
                }
            }
            div:nth-child(3){
                display: flex;
                justify-content: center;
                gap:8%;
                a{
                    font-size: 18px;
                    color: $font-color;
                }
                &:hover{
                    cursor: pointer;
                }
                svg{
                    font-size: $h3-font-size;
                }
                svg:hover{
                    color: $font-color-2;
                }
            }
        }
        .image-container{
            // background-color: red;
            height: 99vh;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .image{
                width: 22rem;
                height: 30rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background: linear-gradient($card, transparent);
                box-shadow: 6px 6px 22px $black;
                border-radius: 12rem 12rem 0 0;
                padding: 5rem 1.5rem 0rem 1.5rem;
                overflow: hidden;
                img{
                    position: relative;
                    width: 80%;
                    object-fit: cover;
                }    
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #home{
        .container{
            .sub-container{
                width: 50%;
                div:first-child{
                    p{
                        font-size:$p-responsive-font-size;
                    }
                    h1{
                        font-size: $responsive-h1-font-size;
                    }
                    h3{
                        font-size:$h2-font-size;
                    }
                }
                div:nth-child(2){
                    a{
                        font-size: $p-responsive-font-size;
                    }
                }
                div:nth-child(3) svg{
                    font-size: $h2-font-size;
                }
               
            }
            .image-container{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width:850px) {
    #home{
        .container{
            height: 100vh;
            display: flex;
            flex-direction: column;      
            .image-container{
                .image{
                    width: 18rem;
                    height: 20rem;
                    border-radius: 12rem 12rem 0 0;
                    img{
                        object-fit: cover;
                    }
                }
            }
        }
       
    }
}
@media screen and (max-width:650px) {
    #home{
        .container{
            .sub-container{
                div:first-child{
                    p{
                        font-size: $p-mobile-font-size;
                    }
                    h1{
                        font-size: $h1-mobile-font-size;
                    }
                    h3{
                        font-size: $h3-mobile-font-size;
                    }
                }
                div:nth-child(2){
                    a{
                        font-size: $p-mobile-font-size;
                    }
                }
                div:nth-child(3) svg{
                    font-size: $p-font-size;
                }
               
            }
            .image-container{
                width: 50%;
            }
        }
    }
}